:root {
  --textDark: #3c4653;
  --richBlack: #040404;
  --blue: #1d3461;
  --teal: #0c7489;
  --action: #ff383c;
  --actionHover: #f61b26;
  --offWhite: #eee;
}

html {
  box-sizing: border-box;
  background-color: var(--action);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: var(--textDark);
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  border-top: 6px solid var(--action);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 2.6em;
  text-align: center;
}

h2 {
  margin: 1.5em 0 0;
}

a {
  color: var(--action);
  text-decoration: none;
  transition: 250ms;
}

a:hover {
  color: var(--actionHover);
}

blockquote {
  background: white;
  padding: 1px 20px;
  border-left: 4px solid var(--teal);
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

container {
  max-width: calc(1200px + 8vw);
  margin: 0 auto;
  padding: 0 4vw;
}

/* Code syntax overrides */
code,
kbd,
samp {
  font-size: 0.8em;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
}
